*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Shila;
}

@font-face {
    font-family: Shila;
    src: url(../Fonts/Itim-Regular.ttf);
    src: url(../Fonts/Itim-Regular.eot);
    src: url(../Fonts/Itim-Regular.woff);
    src: url(../Fonts/Itim-Regular.woff2);
}
