@import "variable";

body {
  background: linear-gradient(
    to right bottom,
    #2d0245,
    #320953,
    #361261,
    #381a70,
    #39237f,
    #2e2e88,
    #1f3890,
    #004197,
    #004b95,
    #00538f,
    #005987,
    #0a5e7e
  );
  > div.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    > div.box {
      width: 400px;
      height: 600px;
      border-radius: 20px;
      background-color: #0a5e7e;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      > div:nth-of-type(1) {
        width: inherit;
        height: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        > input {
          width: 80%;
          height: inherit;
          border-radius: 10px;
          font-size: 25px;
          font-weight: bold;
          padding-left: 30px;
          &::placeholder {
            color: #39237f;
            font-size: 25px;
            font-weight: bold;
          }
        }
      }
      > div:nth-of-type(2), div:nth-of-type(3) {
        width: inherit;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        //background-color: blanchedalmond;
        gap: 50px;
        > button {
          width: 100px;
          height: 100px;
          background-color: #a094c8;
          color: white;
          font-size: 50px;
          font-weight: bold;
          border-radius: 10px;
          cursor: pointer;
          &:hover {
            color: black;
            background-color: white;
          }
        }
      }
      > div:nth-of-type(4) {
        width: inherit;
        height: 50px;
        //background-color: white;
        margin-top: 10px;
        //border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        //border: 2px solid black;
        > h1 {
          color: white;
        }
      }
    }
    > div {
      width: 550px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      > h2 {
        color: white;
        > i {
          color: white;
          font-size: 40px;
          padding-right: 15px;
        }
      }
      > h3 {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        > i {
          color: white;
          font-size: 40px;
          padding-right: 15px;
        }
      }
      > h4 {
        color: white;
      }
    }
  }
}
